<% if logged_in? %>
  <div class="col-sm-8 offset-sm-2">
    <div class="text-center">
    <h2>走った距離を共有</h2>
    </div>
      <%= form_with(model: @record, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <label>走った日付</label>
        <%= f.date_field :date, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>走った距離（km）</label>
        <%= f.text_field :content, class: 'form-control', :placeholder => "半角数字"  %>
      </div>
      <div class="form-group">
        <label>写真</label>
           <%= f.file_field :img, id: :record_img %>
           
      </div>
      
        <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
      <% end %>

      
    <div class="mb-4 mt-5">
      <h3>投稿一覧</h3>
    </div>
    <div class="col-sm-10 offset-sm-1">
      <%= render 'records/records', records: @records %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
   <div class="mb-4">
      <h1>走った距離を<br>
      記録・共有しよう
      </h1>
      </div>
      <h2>
        <%= link_to '会員登録', signup_path %>
        ・
        <%= link_to 'ログイン', login_path %>
      </h2>
  </div>
</div>
<div class="row text-center">
  <div class="col-sm-6">
    <h3>写真とともに走った距離を記録・共有</h3>
   <img src="https://i.gyazo.com/1292f26bfaea9420165a6fec9406f460.png" alt="Image from Gyazo" width="468" height"330"/>
    <p>日付や走った距離だけでなく写真として風景も一緒に共有できます。</p>
  </div>
  <div class="col-sm-6">
    <h3>走行距離をグラフで表示</h3>
    <div class="mt-3">
    <img src="https://i.gyazo.com/41ba4372a9f8d783f3113b8ed1dcfa7e.png" alt="Image from Gyazo" width="500" height="330"/>
    <p>累計・月間・週間走行距離をグラフで確認できます。</p>
    </div>
  </div>
</div>
<% end %>